global:

  # Port number Adrian responds to
  port: 80
  
  # Adrian will only allow fonts to be used on these URLs (CORS functionality)
  domains:
    - example.com
    
  # Directories where Adrian should look for fonts
  directories:
    - /usr/share/fonts
    
  # If true, replace font filenames with hashes so they can't be guessed as easily
  obfuscate filenames: false

  # Used to set the cache-control header in responses
  cache-control lifetime: 2628000
